.DS_Store
*.exe
*.dll
*.so
*.o
*.a
*.dylib
*.out
*.test
*.swp
*.ini
*.bak
*.tmp
*.orig
*.jwt
*.key
*.conf
*~
*.tmproj
.project
.idea/
.vscode/
bin/
dist/
etc/.id
etc/test*.yaml
agents.yaml
inventory.yaml
internal/tracker/testdata/configs
